.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.section {
    margin-bottom: 35px; /* Distanza tra le sezioni */
    background-color: #f9f9f9; /* Colore di sfondo leggermente diverso per separare visivamente le sezioni */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #555;
    margin-bottom: 0px;
}

.formGroup {
    margin-bottom: 0px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.button {
    width: 100%;
    padding: 12px;
    background-color: var(--button-primary-bg);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--button-primary-hover-bg);
}

.message {
    margin-top: 20px;
    color: #d9534f;
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}
