.sidebar {
  position: fixed;
  top: 20px;
  left: 10px;
  bottom: 20px;
  height: auto;
  width: 250px;
  background-color: var(--sidebarbackground-color); 
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
}


.sidebarLogo {
  text-align: center;
  margin-top: 20px;
}

.sidebarLogo img {
  width: 80px;
  height: auto;
  transition: width 0.3s ease;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}
.sidebarLogo :hover {
  filter: grayscale(0%); /* Ritorna al colore originale al passaggio del mouse */
}

.appName {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  color: var(--sidebar-text-color); /* Colore chiaro per il nome dell'app */
  margin-top: 8px;
  text-align: center;
}

.sidebarClosed {
  transform: translateX(-100%);
}

.sidebarOpen {
  transform: translateX(0);
}

.sidebarToggle {
  position: absolute;
  top: 20px;
  right: -25px;
  background: var(--sidebar-background-color);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombra più pronunciata */
  transition: background 0.3s ease, transform 0.3s ease;
  color: white;
}

.sidebarToggle:hover {
  background: var(--link-hover-color); /* Cambia colore al passaggio del mouse con il colore del link */
  color: white;
  transform: scale(1.1);
}

.sidebarToggle:active {
  transform: scale(0.95); /* Effetto click */
}

.sidebarMenu {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarMenuItem {
  width: 100%;
  margin: 10px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.sidebarMenuItem a {
  display: block;
  text-decoration: none;
  padding: 15px 30px;
  background-color: var(--sidebar-button-bg); /* Sfondo bianco per i menu item */
  border-radius: 15px;
  color: var(--primary-text-color); /* Colore del testo */
  font-weight: 500;
  width: 100%;
  text-align: center;
  max-width: 220px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.sidebarMenuItem a:hover {
  background-color: var(--button-primary-bg); /* Colore hover del pulsante */
  color: var(--text-hover-color); /* Testo chiaro durante l'hover */
  transform: translateY(-2px); /* Effetto sollevato durante l'hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombra al passaggio del mouse */
}

.sidebarMenuItem a:active {
  background-color: var(--button-primary-hover-bg); /* Colore quando attivato */
  transform: translateY(0); /* Rimuove l'effetto sollevato quando cliccato */
}

.sidebarMenuItem a.active {
  background-color: var(--sidebar-background-color); /* Colore blu scuro per l'item attivo */
  font-weight: 600;
  color: var(--sidebar-text-color); /* Colore chiaro per l'item attivo */
}

/* Media Queries */
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .sidebarLogo img {
    width: 70px;
  }

  .appName {
    font-size: 1.1rem;
  }

  .sidebarMenuItem a {
    padding: 12px 20px;
    max-width: 180px;
  }
}

@media (max-width: 480px) {
  .sidebarLogo img {
    width: 60px;
  }

  .appName {
    font-size: 1rem;
  }

  .sidebarMenuItem a {
    padding: 10px 15px;
    max-width: 150px;
  }
}

/* Main content */
.mainContent {
  margin-left: 250px;
  padding: 20px;
  transition: margin-left 0.3s ease-in-out;
}

.mainContentExpanded {
  margin-left: 0;
}
