/* Ingrandimento Logo e Titolo */
.fullPageHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
}

.title {
  font-size: 6rem;
  color: white;
  margin-bottom: 20px;
}

.fullPageLogo {
  width: 300px;
  height: auto;
}

/* Stile del carosello */
.carouselContainer {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  opacity: 0; /* Inizia nascosto */
  transform: translateY(50px); /* Posizione iniziale di scivolamento */
  transition: opacity 1s ease, transform 1s ease; /* Transizione fluida */
}

.visible {
  opacity: 1; /* Diventa visibile */
  transform: translateY(0); /* Scivola verso l'alto */
}

.hidden {
  opacity: 0;
  transform: translateY(50px); /* Posizione nascosta verso il basso */
}

/* Stile delle card */
.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  height: 300px;
  width: 250px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05); /* Ingrandisce leggermente al passaggio del mouse */
}

.card h3 {
  font-size: 1.5rem;
  color: var(--text-primary);
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  color: var(--text-secondary);
  margin-bottom: 20px;
}

.card button {
  background-color: var(--button-primary);
  color: var(--button-primary);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  background-color: var(--button-primary-hover);
}
