.footer-container {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px 20px;
  box-shadow: none;
  border-radius: 15px;
  margin: 20px 0;
  max-width: 1440px;
  width: 100%;
  box-sizing: border-box;
  transition: margin-left 0.3s ease; /* Aggiungi una transizione per il margine sinistro */
  display: flex;
  justify-content: space-between; /* Distribuisce le due sezioni */
  align-items: center; /* Allinea verticalmente gli elementi */
}

/* Quando la sidebar è aperta */
.footer-sidebar-open {
  margin-right: 20px; /* Allinea il footer al layout con la sidebar aperta */
}

/* Quando la sidebar è chiusa */
.footer-sidebar-closed {
  margin-left: 10px; /* Rimuove il margine quando la sidebar è chiusa */
  margin-right: 20px; /* Aggiunge un margine a destra */
}

/* Sezione contenente il testo */
.footer-text {
  display: flex;
  flex-direction: column; /* Organizza il testo in colonna */
  align-items: flex-start; /* Allinea il testo a sinistra */
  justify-content: center;
  color: #333; /* Testo scuro */
}

.footer-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

/* Sezione contenente le icone */
.footer-icons {
  display: flex;
  justify-content: flex-end; /* Allinea le icone a destra */
  gap: 15px; /* Spazio tra le icone */
}

.footer-icon {
  color: #333;
  transition: transform 0.3s ease; /* Aggiunge un piccolo effetto hover */
}

.footer-icon:hover {
  transform: scale(1.1); /* Effetto hover per ingrandire leggermente le icone */
}

.footer-button {
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 6px 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

.footer-button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid #007bff;
  transform: translateY(-2px);
}

/* Media Queries */

/* Per schermi più piccoli (tablet) */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column; /* Dispone gli elementi in colonna */
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .footer-text {
    align-items: center; /* Centra il testo */
    margin-bottom: 15px;
  }

  .footer-icons {
    justify-content: center; /* Centra le icone */
  }

  .footer-icon {
    margin: 0 10px;
  }
}

/* Per schermi extra piccoli (smartphone) */
@media (max-width: 480px) {
  .footer-container {
    padding: 15px;
    margin: 5px 0;
  }

  .footer-toolbar {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .footer-text {
    margin-bottom: 10px; /* Aggiunge spazio tra il testo e le icone */
  }

  .footer-icon {
    margin: 5px;
  }
}