.graph-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    max-width: calc(100% - 20px); /* Larghezza della pagina con margine di 20px a sinistra e a destra */
    height: 100vh; /* Altezza dell'intera pagina */
    margin: 0; /* Rimuove margini superflui */
    padding: 0; /* Rimuove padding superfluo */
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.graph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Prende tutta la larghezza disponibile */
    height: 100%; /* Prende tutta l'altezza disponibile */
    padding: 0; /* Rimuove padding */
    box-sizing: border-box;
    background-color: rgba(240, 240, 240, 0.5);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.graph-sidebar-open {
    width: calc(100% - 260px); /* Aggiusta la larghezza del contenitore quando la sidebar è aperta */
    margin-left: 260px;
}

.graph-sidebar-closed {
    width: 100%; /* Il contenitore occupa tutta la larghezza quando la sidebar è chiusa */
}

/* Stili per componenti interni, simili alla home */
.graph-header {
    text-align: center;
    padding: 10px;
}

.graph-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
    gap: 25px;
}

.graph-container h4 {
    color: black;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Responsività per schermi più piccoli */
@media (max-width: 1200px) {
    .graph-page {
        width: calc(100% - 100px);
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 768px) {
    .graph-page {
        margin: 10px;
        width: 100%;
        height: auto; /* Permetti di adattarsi all'altezza disponibile */
    }

    .graph-container {
        padding: 10px;
    }
}
