/* GraphPage.css */
.graph-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    border-radius: 15px;
    margin: 20px auto;
}

.graph-page .error {
    color: red;
    font-weight: bold;
}

.graph-page .loading {
    color: #3498db;
    font-weight: bold;
}
