.graphPageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 0;
}

  .pageContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 20px);
    margin-bottom: 10px;
  }

  .graphContainer {
    flex-grow: 3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 20px;
    position: relative;
  }
  
  
  .panelOpen {
    transform: translateX(-10px); /* Sposta di 10px a sinistra */
  }

  .backButton {
    background-color: #fff; /* Sfondo bianco */
    color: #333; /* Colore della freccia */
    border: 2px solid #333; /* Aggiungere un bordo sottile */
    border-radius: 50%; /* Arrotonda completamente il bottone */
    width: 40px; /* Dimensioni ridotte */
    height: 40px; 
    font-size: 10px; /* Dimensione della freccia */
    display: flex; /* Centra la freccia */
    align-items: center; /* Allinea verticalmente la freccia */
    justify-content: center; /* Allinea orizzontalmente la freccia */
    left: 10px; /* Vicino al bordo sinistro */
    top: 10px; /* Vicino al bordo superiore */
    cursor: pointer; /* Cambia il cursore al passaggio */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Aggiungi un'ombra morbida */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transizione per hover */
}

.backButton:hover {
    background-color: #f0f0f0; /* Colore di sfondo leggermente più scuro al passaggio */
    transform: scale(1.1); /* Ingrandisci leggermente al passaggio */
}