/* App.css */
.app-container {
  display: flex;
  flex-direction: row;
  height: auto;
  overflow: auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh; /* Assicura che l'intera altezza sia utilizzata */
  box-sizing: border-box;
  transition: margin-left 0.3s ease; /* Aggiunge una transizione per il margine della sidebar */
}

.main-content.sidebar-open {
  margin-left: 280px; /* Spazio per la sidebar quando aperta */
}

.main-content.sidebar-closed {
  margin-left: 20px; /* Rimuove lo spazio per la sidebar quando chiusa */
}

.content-wrapper {
  flex-grow: 1; /* Permette al contenuto di riempire lo spazio disponibile */
  padding-top: 100px; /* Spazio per la navbar */
  overflow: scroll; /* Abilita lo scroll se necessario */
}
.content-wrapper::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Rende invisibile la scrollbar */
}
