.appContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.mainContent {
  flex-grow: 1;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  flex-grow: 1;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}

.contentWrapper::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.mainContentSidebarOpen {
  margin-left: 280px;
}

.mainContentSidebarClosed {
  margin-left: 20px;
}
/* App.module.css */
.appContainer {
  display: flex;
  flex-direction: row;
  height: 100vh; 
  overflow: hidden;
}

.mainContent {
  flex-grow: 1;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  flex-grow: 1;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}

.contentWrapper::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
