/* App.css */

.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden; /* Evita scroll in eccesso */
}

.sidebar {
  width: 250px;
  transition: transform 0.3s ease;
  position: relative;
  z-index: 1000;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease;
}

.navbar-container {
  transition: margin-left 0.3s ease, width 0.3s ease;
}

.app-container.sidebar-open .main-content,
.app-container.sidebar-open .navbar-container {
  margin-left: 250px; /* Sposta il contenuto a destra */
}

.app-container .navbar-container {
  width: calc(100% - 250px); /* Assicura che la navbar occupi tutto lo spazio rimanente */
}
