/* Contenitore principale */
.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Altezza del viewport per tutta la pagina */
  overflow: hidden; /* Previene lo scroll orizzontale */
}

/* Contenitore del contenuto principale */
.main-content {
  flex-grow: 1;
  height: 100vh;
  overflow-y: auto; /* Permette lo scroll solo qui */
  display: flex;
  flex-direction: column; /* Mantiene il layout a colonna */
}

/* Wrapper per il contenuto */
.content-wrapper {
  flex-grow: 1;
  padding: 20px;
  height: 100%;
  overflow-y: auto; /* Scroll solo per il contenuto se necessario */
}

/* Nascondi la scrollbar per i browser che supportano -webkit */
.content-wrapper::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.main-content.sidebar-open {
  margin-left: 280px; /* Spazio per la sidebar quando aperta */
}

.main-content.sidebar-closed {
  margin-left: 20px; /* Ridotto per sidebar chiusa */
}