:root {
  --background-color: #003366; /* Bianco per lo sfondo principale */
  --sidebarbackground-color: #ebe5e5; /* Grigio scuro per la sidebar */
  --primary-text-color: #333333; /* Testo principale scuro */
  --secondary-text-color: #777777; /* Testo secondario grigio medio */
  --link-color: #32408c; /* Blu scuro per i link */
  --link-hover-color: #32408c; /* Verde acqua per hover link */
  --text-hover-color: white;
  /* Riquadri (Box) */
  --box-background-color: #ebe5e5; /* Grigio chiaro per i riquadri */
  --box-border-color: #E0E0E0; /* Bordo dei riquadri */
  --box-hover-border-color: #CCCCCC; /* Grigio per hover riquadri */
  --box-hover-background-color: #32408c; /* Grigio ancora più chiaro per hover */
  --box-shadow-color: rgba(0, 0, 0, 0.2); /* Ombra leggera */
  --stat-background-color: #ffffff; /* Grigio chiaro tendente al blu per schede e grafici */
  
  /* Pulsanti */
  --sidebar-button-bg: white; /* Blu scuro per i pulsanti della navbar */
  --button-primary-bg: #32408c; /* Verde acqua per i pulsanti principali */
  --button-primary-hover-bg: #323f8cd2; /* Hover per pulsanti principali */
  --button-primary-active-bg: #4e63d7; /* Hover per pulsanti principali */

  /* Testo nella sidebar */
  --sidebar-text-color: #333333; /* Colore chiaro per il testo nella sidebar */

  /* Colore attivo per i link */
  --link-active-bg: #003366; /* Blu scuro per il link attivo */
  
  /* Colori per i grafici */
  --chart-color-1: #2CC1AE; /* Verde acqua per i grafici */
  --chart-color-2: #007BFF; /* Blu per i grafici */

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--primary-text-color); /* Usa il colore del testo principale */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  height: 100%; /* Mantenuto per il layout corretto */
  font-family: Arial, sans-serif;
  background-color: var(--background-color); /* Usa il bianco di sfondo */
}

html, body, #root {
  height: 100%;
  width: 100%; /* Aggiunto per garantire che anche la larghezza sia al 100% */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.App {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

a {
  font-weight: 500;
  color: var(--link-color); /* Colore link principale */
  text-decoration: inherit;
}

a:hover {
  color: var(--link-hover-color); /* Colore hover link */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--primary-text-color); /* Colore per gli h1 */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-primary-bg); /* Colore pulsante principale */
  color: var(--primary-text-color); /* Colore testo pulsante */
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--button-primary-hover-bg); /* Colore hover pulsante */
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--primary-text-color); /* Testo in modalità chiara */
    background-color: var(--background-color); /* Sfondo bianco */
  }

  a:hover {
    color: var(--link-hover-color); /* Colore hover link in modalità chiara */
  }

  button {
    background-color: var(--button-primary-bg); /* Pulsante in modalità chiara */
  }
}
