.patient-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.3); /* Trasparenza simile alla home */
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  max-width: 100%;
  overflow: hidden;
}


.patient-search-input {
  width: 60%; /* Più stretta */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 25px; /* Bordi arrotondati */
  background-color: rgba(255, 255, 255, 0.7); /* Trasparenza leggera */
  color: #333; /* Colore testo scuro */
  text-align: center; /* Testo centrato */
  margin-left: auto;
  margin-right: auto;
}

.patient-list-table {
  width: 100%;
  border-collapse: collapse;
}

.patient-list-table thead {
  background-color: rgba(230, 230, 230, 0.5);
}

.patient-list-table th,
.patient-list-table td {
  padding: 12px;
  text-align: left;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #333; /* Colore scuro per il testo */
}

.patient-list-table tr:hover {
  background-color: rgba(96, 97, 98, 0.2);
  cursor: pointer;
}

.avatar-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 200px; /* Aggiustato per pulsanti avanti/indietro */
}

.pagination button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ced4da;
  cursor: not-allowed;
}

.view-graph-btn {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.view-graph-btn:hover {
  background-color: #0056b3;
}


/* Media query per schermi più piccoli */
@media (max-width: 768px) {
  .patient-list-container {
    padding: 0 10px;
  }

  .view-graph-btn {
    padding: 6px 12px;
  }
}

/* Media query per adattare la lista a schermi più piccoli */
@media (max-width: 1200px) {
  .patient-list-container {
    width: calc(100% - 100px);
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 768px) {
  .patient-list-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0 10px;
  }

  .patient-list-table th, .patient-list-table td {
    padding: 8px;
  }

  .pagination {
    width: 150px; /* Aggiustamento per dispositivi mobili */
  }
}
