.moduloIAContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 98vh; /* Occupa l'intera altezza della viewport */
  gap: 10px; /* Aggiunge uno spazio tra i due contenitori */
  padding: 10px; /* Aggiunge un po' di padding interno per migliorare l'aspetto */
  box-sizing: border-box; /* Include padding e bordo nelle dimensioni */
}

.leftContainer, .rightContainer {
  flex: 1;
  overflow-y: auto; /* Aggiunge lo scroll verticale se necessario */
  border-radius: 15px; /* Arrotonda gli angoli dei contenitori */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra leggera */
}

.leftContainer {
  overflow-x: auto;
  flex: 0.7;
  background-color: var(--box-background-color); /* Colore di sfondo per distinguere */
  padding: 20px;
}

.rightContainer {

  flex: 0.3;
  background-color: var(--box-background-color); /* Colore di sfondo bianco */
  padding: 20px;
}


