.details-panel {
    width: 25%; /* Modifica questa percentuale per adattare la larghezza */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Trasparenza leggera */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .details-section, .metrics-section, .plot-section {
    margin-bottom: 20px;
  }
  
  .metrics-section button {
    margin-right: 10px;
    background-color: #4CAF50; /* Colore del bottone */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .metrics-section button:hover {
    background-color: #45a049;
  }
  
  .plot-section {
    margin-top: 20px;
  }
  