.diseaseDetailsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--box-background-color);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    max-width: 100%;
    overflow: hidden;
}

.diseaseSearchInput {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255);
    border-radius: 25px;
    background-color: rgba(255, 255, 255);
    color: #333;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.diseaseDetailsTable {
    width: 100%;
    border-collapse: collapse;
}

.diseaseDetailsTable thead {
    background-color: rgba(147, 147, 147,0.5)
}

.diseaseDetailsTable th,
.diseaseDetailsTable td {
    padding: 12px;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: var(--primary-text-color);
}

.diseaseDetailsTable tr:hover {
    background-color: rgba(96, 97, 98, 0.2);
    cursor: pointer;
}

.avatarImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.paginationBtn {
    padding: 10px 20px;
    background-color: var(--button-primary-bg);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .paginationBtn:hover {
    background-color: #323f8cd2;
    border: none;
    color: white;
  }
  
  .paginationBtn:active {
    background-color: var(--button-primary-active-bg);
    border: none;
    color: white;
  }
  
  .paginationBtn:disabled {
    background-color: #ced4da;
    cursor: not-allowed;
  }
  
  /*
  .viewGraphBtn {
    padding: 8px 16px;
    background-color: var(--sidebar-button-bg);
    color: var(--primary-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .viewGraphBtn:hover {
    background-color: var(--button-primary-bg);
    color: white;
  }
  
  .viewGraphBtn:active {
    background-color: var(--button-primary-active-bg);
    color: white;
  } */
  
  /* Media query per schermi più piccoli */
  @media (max-width: 768px) {
    .diseaseDetailsContainer {
      padding: 0 10px;
    }
  
    .viewGraphBtn {
      padding: 6px 12px;
    }
  }
  
  @media (max-width: 1200px) {
    .diseaseDetailsContainer {
      width: calc(100% - 100px);
      margin-left: 50px;
      margin-right: 50px;
    }
  }
  
  @media (max-width: 768px) {
    .diseaseDetailsContainer {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding: 0 10px;
    }
  
    .diseaseDetailsTable th, .diseaseDetailsTable td {
      padding: 8px;
    }
  
    .pagination {
      width: 150px;
    }
  }