.diseaseDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--box-background-color);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  max-width: 100%;
  width: 100%; /* Assicura che il contenitore occupi tutta la larghezza */
  overflow: hidden;
  margin: 0 auto;
}

.diseaseSearchInput {
  width: 60%;
  padding: 12px 20px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5); /* Opacità per maggiore leggibilità */
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.9); /* Leggera trasparenza */
  color: #333;
  text-align: center;
  transition: border 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ombra leggera */
}

.diseaseSearchInput:focus {
  border-color: var(--button-primary-bg); /* Cambia il colore del bordo quando è attivo */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Aggiungi un'ombra più evidente */
  outline: none;
  background-color: rgba(255, 255, 255, 0.95); /* Maggiore opacità al focus */
}

.diseaseDetailsTable {
  width: 100%;
  border-collapse: collapse;
}

.diseaseDetailsTable thead {
  background-color: rgba(147, 147, 147, 0.5);
}

.diseaseDetailsTable th,
.diseaseDetailsTable td {
  padding: 12px;
  text-align: center; /* Centra il testo */
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--primary-text-color);
}

.diseaseDetailsTable tr:hover {
  background-color: rgba(96, 97, 98, 0.2);
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px; /* Aggiunge spazio tra i pulsanti */
}

.viewGraphBtn {
  padding: 10px 20px;
  background-color: var(--sidebar-button-bg);
  color: var(--primary-text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.viewGraphBtn:hover {
  color: white;
  background-color: var(--button-primary-bg);
}

.viewGraphBtn:active {
  background-color: var(--button-primary-active-bg);
}
.paginationBtn {
  padding: 10px 20px;
  background-color: var(--button-primary-bg);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.paginationBtn:hover {
  background-color: #323f8cd2;
}

.paginationBtn:active {
  background-color: var(--button-primary-active-bg);
}

.paginationBtn:disabled {
  background-color: #ced4da;
  cursor: not-allowed;
}

.backButton {
  background-color: #fff;
  color: #333;
  border: 2px solid #333;
  border-radius: 50%;
  width: 40px;
  height: 40px; 
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ombra morbida */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transizione su hover */
}

.backButton:hover {
  background-color: #f0f0f0;
  transform: scale(1.1); /* Ingrandimento leggero al passaggio */
}

@media (max-width: 768px) {
  .diseaseSearchInput {
    width: 90%; /* Larghezza maggiore su schermi piccoli */
    padding: 10px 15px;
  }

  .diseaseDetailsContainer {
    padding: 0 10px;
  }

  .diseaseDetailsTable th,
  .diseaseDetailsTable td {
    padding: 8px;
  }

  .pagination {
    width: 100%;
    justify-content: space-around; /* Distribuzione dei pulsanti */
  }
}

@media (max-width: 1200px) {
  .diseaseDetailsContainer {
    width: calc(100% - 100px);
    margin-left: 50px;
    margin-right: 50px;
  }
}
